.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    rgb(158, 30, 30) 0%,
    #e63a34 51%,
    #e64e4e 100%
  );
  transition: 0.3s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.349);
  transform: scale(1);
  font-family: "Khand", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.07);
}

.btn:disabled {
  opacity: .5; 
}
.btn:disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
}

@media (max-width: 1050px) {
  .btn {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .btn {
    padding: 8px 10px;
    font-size: 14px;
  }
}
